.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.nav__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    list-style: none;
  }
  
  .menu__link{
    font-weight: 400;
    font-size: .9 rem;
    cursor: pointer;
  }
  
  .menu__link:hover{
    color: var(--link-active);
  }
  
  /* .logo h2{
    color: var(--primary-color);
  }
   */
   .header .logo h2 .yom {
    /* color: var(--primary-color); */
    font-family: "Pacifico", cursive;
    font-size: clamp(24px, 5vw, 20px);
    background: linear-gradient(90deg, #0898b8, #0898b8);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.2),
      0 3px 0 rgba(0, 0, 0, 0.2), 0 4px 0 rgba(0, 0, 0, 0.2),
      0 5px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, text-shadow 0.3s ease; */
  }

  .header .logo h2 ::after {
    content: "";
    display: block;
    margin-left: 25px;
    width: 70%; /* Full width underline */
    height: 4px; /* Thickness of the underline */
    background: linear-gradient(90deg, #0898b8, #0f825f);
    position: absolute;
    bottom: 20px; /* Position the underline just below the text */
    left: 0; /* Align to the left */
    transition: transform 0.3s ease; /* Animation effect */
  }

  .header .logo h2 .it {
    /* color: var(--primary-color);  */
    background: linear-gradient(90deg, #0f825f, #0f825f); /* Blue, Purple, Red */
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
    /* text-shadow: 0 1px 0 rgba(70, 35, 160, 0.2), 0 2px 0 rgba(0, 0, 0, 0.2),
      0 3px 0 rgba(0, 0, 0, 0.2), 0 4px 0 rgba(0, 0, 0, 0.2),
      0 5px 0 rgba(0, 0, 0, 0.2); */
    /* transition: transform 0.3s ease, text-shadow 0.3s ease; */
  }

  .header .logo h2:hover {
    transform: scale(1.1);
    /* text-shadow: 0 0 20px #e74c3c, 0 0 30px #3498db;  */
  }
  
  .light__mode span{
    color: rgba(255, 255, 255, 0.637);
    display: flex;
    align-items: center;
    column-gap: 0.4 rem;
    font-size: 0.8 rem;
    cursor: pointer;
  }

  .light-theme .light__mode span {
    color: #000;
    font-weight: 500;
  }

  .header__shrink {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
  }